body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif
}

#chartcontainer {
background-color: white;
left: 0px;
position: absolute;
top: 0px;

}

#title {
  padding: 5px;
  text-align: center;
}

#chartarea {
  border-color: black;
  border-style: none none solid solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: flex-end;
  left: 15%;
  margin: 0;
  position: absolute;
  width: 70%;
}

.xaxisdata, .xaxislabels {
  border: 0;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.xaxislabels {
  top: 100%;
  padding: 5%;
}

#xtitle {
  left: 40%;
  padding: 2px;
  position: absolute;
  top: 110%;
}

#ytitle {
  left: -20%;
  margin: 0;
  padding: 2px;
  position: absolute;
  top:50%;
  transform: rotate(-90deg);
}

.yticks {
  margin: 0;
  padding: 0;
  left: -5%;
}

